:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.init-bill-form {
  display: flex;
  flex-direction: column;
  min-width: 320px;

  mat-datepicker-toggle {
    position: absolute;
    top: -50%;
    right: 0;
  }
}
