<canvas class="preview-canvas"
        #preview>
</canvas>

<button class="btn"
        color="accent"
        mat-raised-button
        (click)="photos.click()">
  Загрузить фото
</button>

<input #photos
       id="counters"
       name="counters"
       type="file"
       (change)="onLoad($event)">

<h4 *ngIf="workerInfo; else ocrResultTpl"
    class="loading-progress">
  {{loadingProgress}}
</h4>

<ng-template #ocrResultTpl>
  <div class="recognized-text">
    <mat-form-field appearance="fill">
      <input matInput
             [formControl]="recognizedText">
      <mat-error *ngIf="recognizedText.invalid">
        {{getErrorMessage(recognizedText.errors)}}
      </mat-error>
    </mat-form-field>
  </div>
</ng-template>
