:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.preview-canvas {
  width: 100%;
  border: 1px solid #ccc;
}

.btn-panel {
  display: flex;
  width: 100%;
  margin-top: 20px;

  .btn:last-child {
    width: 100%;
    margin-left: 4px;
  }
}

input#counter {
  display: none;
}

.loading-progress {
  min-height: 28px;
  margin: 12px auto;
  text-transform: capitalize;
}
