<div class="counter-recognizers">
  <div class="cr-wrapper">
    <h2 class="title cold-water">Холодная вода</h2>
    <app-counter-recognizer (ocrComplete)="coldWater = +$event"></app-counter-recognizer>
  </div>
  <div class="cr-wrapper">
    <h2 class="title hot-water">Горячая вода</h2>
    <app-counter-recognizer (ocrComplete)="hotWater = +$event"></app-counter-recognizer>
  </div>
  <div class="cr-wrapper">
    <h2 class="title electricity">Эл. энергия</h2>
    <app-counter-recognizer brightness='1.4'
                            contrast="30"
                            (ocrComplete)="electricity = +$event">
    </app-counter-recognizer>
  </div>
</div>

<!--TODO поправить стили превью -->
<app-bill *ngIf="newBill"
          [billData]="newBill">
</app-bill>

<div class="btn-panel">
  <button *ngIf="!newBill; else newBillActions"
          class="btn"
          color="primary"
          mat-raised-button
          (click)="calculateBill()">
    Посчитать стоимость
  </button>

  <ng-template #newBillActions>
    <button class="btn"
            color="warn"
            mat-raised-button
            (click)="clearNewBill()">
      Отменить
    </button>
    <button class="btn"
            color="accent"
            mat-raised-button
            (click)="saveNewBill()">
      Сохранить
    </button>
  </ng-template>
</div>

