:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 80px auto;
}

.counter-recognizers {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cr-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    text-align: center;

    &.cold-water {
      color: lightblue;
    }

    &.hot-water {
      color: red;
    }

    &.electricity {
      color: orange;
    }
  }
}

mat-form-field {
  margin: 20px 0;
}

app-bill {
  width: 90%;
  padding: 20px;
  border: 1px solid #ccc {
    radius: 5px;
  }
}

.btn-panel {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;

  .btn {
    margin: 0 20px;
  }
}

@media screen and (max-width: 1279px) {
  .counter-recognizers {
    flex-direction: column;
  }

  app-bill {
    width: 100%;
    border: {
      right: none;
      left: none;
      radius: unset;
    }
  }
}
