<div class="counter-recognizers">
  <div *ngFor="let counter of countersSchema"
       class="cr-wrapper">
    <h2 class="title"
        [ngClass]="counter.titleClass">
      {{ counter.title }}
    </h2>
    <app-counter-recognizer [brightness]="counter.brightness"
                            [contrast]="counter.contrast"
                            (ocrComplete)="updateControl(counter.ctrl, $event)">
    </app-counter-recognizer>
    <div class="recognized-text">
      <mat-form-field appearance="fill">
        <input matInput
               [formControl]="counter.ctrl">
        <mat-error>{{getErrorMessage(counter.ctrl)}}</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>

<app-bill *ngIf="newBill"
          [billData]="newBill">
</app-bill>

<div class="btn-panel">
  <button *ngIf="!newBill; else newBillActions"
          class="btn"
          color="primary"
          mat-raised-button
          [disabled]="someCountersInvalid"
          (click)="calculateBill()">
    Посчитать стоимость
  </button>

  <ng-template #newBillActions>
    <button class="btn"
            color="warn"
            mat-raised-button
            (click)="clearNewBill()">
      Отменить
    </button>
    <button class="btn"
            color="accent"
            mat-raised-button
            (click)="saveNewBill()">
      Сохранить
    </button>
  </ng-template>
</div>

