<div class="counter-recognizers"
     [formGroup]="countersForm">
  <form *ngFor="let counter of countersSchema"
        class="cr-form"
        [formGroupName]="counter.formCtrlName">
    <h2 class="title"
        [ngClass]="counter.titleClass">
      {{ counter.title }}
    </h2>
    <app-counter-recognizer [brightness]="counter.brightness"
                            [contrast]="counter.contrast"
                            (ocrComplete)="countersForm.get([counter.formCtrlName, 'volume']).setValue($event)">
    </app-counter-recognizer>
    <mat-form-field appearance="fill">
      <mat-label>Счётчик</mat-label>
      <input formControlName="volume"
             matInput>
      <mat-error>{{getErrorMessage(countersForm.get([counter.formCtrlName, 'volume']))}}</mat-error>
    </mat-form-field>
  </form>
</div>

<div class="cost-panel">
  <h2>Цены</h2>
  <div class="cost-wrap">
    <div class="title">Хол. вода</div>
    <div class="cost">{{ countersForm.get(['coldWater', 'cost']).value }}</div>
  </div>
  <div class="cost-wrap">
    <div class="title">Гор. вода</div>
    <div class="cost">{{ countersForm.get(['hotWater', 'cost']).value }}</div>
  </div>
  <div class="cost-wrap">
    <div class="title">Эл. энергия</div>
    <div class="cost">{{ countersForm.get(['electricity', 'cost']).value }}</div>
  </div>
  <button mat-raised-button
          class="open-edit-dialog-btn"
          (click)="openEditCostDialog()">
    Редактировать
  </button>
</div>

<app-bill *ngIf="newBill"
          [billData]="newBill">
</app-bill>

<div class="btn-panel">
  <button *ngIf="!newBill; else newBillActions"
          class="btn"
          color="primary"
          mat-raised-button
          [disabled]="!countersForm.valid"
          (click)="calculateBill()">
    Посчитать стоимость
  </button>

  <ng-template #newBillActions>
    <button class="btn"
            color="warn"
            mat-raised-button
            (click)="clearNewBill()">
      Отменить
    </button>
    <button class="btn"
            color="accent"
            mat-raised-button
            (click)="saveNewBill()">
      Сохранить
    </button>
  </ng-template>
</div>

