:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.counter-recognizers {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cr-wrapper .title {
  text-align: center;

  &.cold-water {
    color: blue;
  }

  &.hot-water {
    color: red;
  }

  &.electricity {
    color: orange;
  }
}

.btn {
  margin-top: 80px;
}
