:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 400px;
}

input#counters {
  display: none;
}

img.counter-img {
  width: 500px;
  margin: 40px 0;
  border: 1px solid #ccc;
}

.recognized-text {
  margin: 20px 0;
}
