<div class="counters-data-wrap">
  <div class="counter-data cold-water">
    <h3>Хол. вода</h3>
    <p>Счётчик: {{ billData.coldWaterCounter }}</p>
    <p>Расход: {{ billData.coldWaterUsed }} м<sup>3</sup></p>
    <p>Стоимость: {{ billData.coldWaterPrice }} за м<sup>3</sup></p>
    <p>Итого: {{ billData.coldWaterTotal }} ₽</p>
  </div>
  <div class="counter-data hot-water">
    <h3>Гор. вода</h3>
    <p>Счётчик: {{ billData.hotWaterCounter }}</p>
    <p>Расход: {{ billData.hotWaterUsed }} м<sup>3</sup></p>
    <p>Стоимость: {{ billData.hotWaterPrice }} за м<sup>3</sup></p>
    <p>Итого: {{ billData.hotWaterTotal }} ₽</p>
  </div>
  <div class="counter-data utilization-data">
    <h3>Водоотведение</h3>
    <p>Стоимость: {{ billData.waterUtilizationPrice }} за м<sup>3</sup></p>
    <p>Итого: {{ billData.waterUtilizationTotal }} ₽</p>
  </div>
  <div class="counter-data electricity">
    <h3>Эл. энергия</h3>
    <p>Счётчик: {{ billData.electricityCounter }}</p>
    <p>Расход: {{ billData.electricityUsed }} кВт/ч</p>
    <p>Стоимость: {{ billData.electricityPrice }} за кВт/ч</p>
    <p>Итого: {{ billData.electricityTotal }} ₽</p>
  </div>
</div>
<h3 class="total">Итого: {{ billData.total }} ₽</h3>
