body {
  font-family: 'Roboto Thin', 'Arial', 'sans-serif';
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #333;
}

.btn {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 12px;
  cursor: pointer;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #eee;

  &:hover {
    background-color: #ccc;
  }

  &:active {
    opacity: .5;
  }
}

a {
  color: #333;
}
